{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="mb-4" style="padding: 30px">Welcome!</h1>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Dashboard
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Welcome to the Lab Management Dashboard</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Available Tasks
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Task</h5>
                         <ul class="list-group">
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" id="task1">
                                <label class="form-check-label" for="task1">Task 1</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" id="task2">
                                <label class="form-check-label" for="task2">Task 2</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" id="task3">
                                <label class="form-check-label" for="task3">Task 3</label>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
    <div class="row">



    </div>



    </div>
{% endblock %}